#mynetwork{
    height:600px;
}
body{
    text-align: center;
    height: 600px;
}
.question{
    margin: 50px;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}