#mynetwork {
    height: 600px;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    margin-top: 20px;
    padding-bottom: 12px;
    box-sizing: border-box;
}
body{
    text-align: center;
    height: 600px;
}
.question{
    margin: 50px;
}
.full-text-menu.col-md-12 {
    border: 1px solid #e6e6e6;
    margin-top: 22px;
    border-radius: 7px;
    background-color: #fdfbfb;
    margin-bottom: 80px;
}
p.full-text {
    margin-bottom: 20px;
}
.navigation-menu{
    border: 1px solid #e6e6e6;
    margin-top: 22px;
    border-radius: 7px;
    background-color: #fdfbfb;
}
h3.question.col-md-12 {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 1470px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1670px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 2000px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}
p.supporting {
    display: inline-block;
    color: blue;

}

p.disproving {
    display: inline-block;
    color: red;
}
img {
    padding: 23px;
}
.node-map{
    display: inline-block;
}
.node-map-supporting{
    border: 1px solid blue;
    box-sizing: border-box;
}
.node-map-disproving{
    border: 1px solid red;
    box-sizing: border-box;
}
.node-map-disproving:hover{
    border: 2px solid red;
    cursor: pointer;
}
.node-map-supporting:hover{
    border: 2px solid blue;
    cursor: pointer;
}

